@import url("../fonts/Nunito/Nunito-VariableFont_wght.ttf");

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --body-color: #efefef;
  --nav-color: #1876f2;
  --bg-color: #fff;
  --body-text-color: #626262;
  --link-text-color: #1876f2;
  --post-text-color: #9a9a9a;
  --event-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  --hover-bg: ;
}


.dark-theme{
  --body-color: #0a0a0a;
  --nav-color: #000;
  --bg-color: #000;
  --body-text-color: #fff;
  --link-text-color: #1876f2;
  --post-text-color: #fff;
  --event-box-shadow: 0 0 2px  #9a9a9a;
  
}
/* my-style */

body{
  background: var(--body-color) !important;
  transition:  background 0.3s;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-color) !important;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 5px 5%;
  
}
.logo{
  width: 160px;
  margin-right: 45px;
  
}

 .nav-left{
  display: flex;
  align-items: center;
  color: #fff;
}

.nav-left ul li{
  list-style-type: none;
  display: inline-block;
}
.nav-left ul li img{
  width: 23px;
  margin: 0 10px;
  padding-top: 20px;
  

}
/* right-section */
.nav-right{
  display: flex;
  padding-top: 9px;
}
.search-box{
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.search-box img{
  width: 18px;
  cursor: pointer;
  
}
.search-box input{
  
  width: 100%;
  background: transparent;
  padding: 7px;
  outline: none;
  border: 0;
}
.search-box :active,.search-box :focus{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  
}
.nav-user-icon{
  margin-left: 30px !important;
}
.nav-user-icon img{
width: 40px;
border-radius: 50%;
cursor: pointer;
}
.online-active{
  position: relative;
}
.online-active::after{
  content: '';
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  background: #41db51;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

/* hero-section */
.content{
  display: flex;
  justify-content: space-between;
  padding: 30px 5%;
  
}


.left-sidebar{
  background: var(--bg-color);
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  padding: 20px;
   border-radius: 4px;
}
.main-content{
  flex-basis: 47%;

}

.imp-links a, .shortcart-links a{
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: var(--body-text-color);
  width: fit-content;
}
.imp-links a img{
  width: 25px;
  margin-right: 15px;
}
.imp-links a:last-child{
  color: #1876f2;
}
.imp-links{
  border-bottom: 1px solid gray;
}

.shortcart-links p{
  color: var(--body-text-color);
  margin: 25px 0;
  font-weight: 500;
}
.shortcart-links a img{
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
  
}

/* right-sidebar */
.right-sidebar{
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  
  color: var(--body-text-color);
  background: var(--bg-color);
  border-radius: 4px;
  padding: 20px;
  
   
}
.sidebar-title{
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.sidebar-title h6{
  font-weight: 600;
  font-size: 16px;
}
.sidebar-title a{
  text-decoration: none;
  color: #1876f2;
  font-size: small;
}

/* event */
.event{
  font-size: 14px;
  margin-bottom: 20px;
}
.left-event{
  border-radius: 10px;
  height: 65px;
  width: 65px;
  padding-top: 10px;
  margin-right: 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: var(--event-box-shadow);
}
.event p{
  font-size: 12px;
}
.event a{
  font-size: 12px;
  text-decoration: none;
  color: var(--link-text-color);
}
.left-event span{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--link-text-color);
  font-size: 10px;
  padding: 4px 0;
  color: #fff;
}

#img{
  width: 100% !important;
  margin-bottom: 20px !important;
  border-radius: 4px !important;
  

}
.online-active-list{
  align-items: center;
  margin-bottom: 20px;
}
.online-active-list .online-active img{
  width: 30px;
  border-radius: 50%;
}
.online-active-list .online-active{
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.online-active-list .online-active::after{
  top: unset;
  bottom: 5px;
}
.see-all:hover{
  border-bottom: 1px solid #eee;
  transition: 0.3s ease-in;
}



/* main-section */

.story-gallery{
  justify-content: space-between;
  margin-bottom: 20px;
}
.story{
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("../images/profile.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
}

.story#story img{
  top: unset;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  border: 0;
  width: 55px;
}
.story-1{
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("../images/member/member-1.jpg") !important;
}
.story-2{
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("../images/member/member-2.jpg") !important;
}
.story-3{
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("../images/member/member-3.jpg") !important;
}
.story-4{
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("../images/member/member-4.jpg") !important;
}

#story:hover{
  transform: scale(1.1);
}
.story img{
  position: absolute;
  width: 55px;
  border-radius: 50%;
  top: 2px;
  left: 1px;
  border: 3px solid #1876f2;
  cursor: pointer;
}
.story img:active,
.story img:hover
{
  transform: scale(1.1);
}
.story p{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
}

/* write-post-container */
.write-post-container{
  width: 100%;
  background: var(--bg-color) !important;
  border-radius: 6px;
  padding: 20px;
  columns: #626262;

}
.user-profile{
  align-items: center;
  display: flex;
}
.user-profile img{
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-profile p{
margin-bottom: -5px;
font-weight: 500;
color: var(--body-text-color);
}
.user-profile small{
  color: var(--body-text-color);
  font-size: 12px;
  font-weight: 500;
}

.post-input-container{
  padding-left: 55px;
  padding-top: 15px;
}
.post-input-container textarea{
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #eee;
  resize: none;
  color: var(--body-text-color);
}

.add-post-links{
  margin-top: 10px;
}
.add-post-links a{
  text-decoration: none;
  align-items: center;
  color: var(--body-text-color);
  margin-right: 30px;
  font-size: 13px;
  display: flex;
}
.add-post-links img{
  width: 20px;
  margin-right: 10px;
}

.post-container{
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: var(--body-text-color);
  -ms-wrap-margin: 20px 0;
}
.user-profile span{
  font-size: 13px;
  color: var(--body-text-color);
}
.post-text{
  color: var(--post-text-color);
  margin: 15px 0;
  font-size: 15px;
}
.post-text span{
  color: var(--body-text-color);
  font-weight: 500;
}
.post-text a{
  color: #1876f2;
  text-decoration: none;
}
.post-img{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}

.post-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-icons div img{
width: 18px;
margin-right: 10px;
}
.activity-icons div{
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}
.post-profile-icons{
  display: flex;
  align-items: flex-end;
}
.post-profile-icons img{
  width: 20px;
  border-radius: 50%;
  
  
}
.post-row a{
  color: var(--body-text-color);
  font-weight: bold;
}


/* setting-menu */
.menu-settings-inner{
  padding: 20px;
}
.menu-settings-inner hr{
  border: 0;
  height: 1px;
  background: #9a9a9a;
  margin: 10px 0;
}
.settings-menu{
  position: absolute;
  width: 90%;
  max-width: 350px;
  background: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 70px;
  right: 4%;
  max-height: 0;
  transition:  max-height 0.3s;
}

.settings-menu-height{
  max-height: 450px;
}
.user-profile a{
  text-decoration: none;
  color: var(--link-text-color);
  font-size: 12px;
}
.settings-links{
  display: flex;
  align-items: center;
  margin: 10px 0;

}
.settings-links a{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--body-text-color);
}
.settings-links .settings-icon{
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
  border: 3px solid #626262;

}
#dark-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  background: #ccc;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
  width: 18px;
  height: 18px;
  background: var(--body-text-color);
  border-radius: 50%;
  display: inline-block;

}
#dark-btn.dark-btn-on{
  padding-left: 23px;
  
}

.footer{
  border-top: 1px solid gray;
  color: var(--body-text-color);
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  padding: 70px 15%;
}
.footer hr{
  display: none;
}
.footer div{
  text-align: center;
}

.col-middle{
  flex-grow: 2;
  
}
footer p{
  font-size: 16px;
  color: var(--body-text-color);
}
.footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1;
}
.col-left a{
display: block;
color: var(--body-text-color);
text-decoration: none;
padding: 5px;

}
.footer form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: 1px solid #626262;
}
.footer form button{
  display: block;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: transparent;
  color: var(--body-text-color);
  font-size: 15px;
  cursor: pointer;
  border: 2px solid var(--body-text-color);
  margin: auto;
}

.footer-social-icon{
  margin-top: 30px;
}
.footer-social-icon i{
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}

.col-middle button:active,
.col-middle button:focus
{
background: var(--link-text-color);
}

.logo-small{
  display: none;
  width: 20px;
  height: 20px;
  
}

/* ...........................profile-page............................ */




.profile-container{
  padding: 0px  15%;
  color: var(--body-text-color);
}
 .cover-img{
  width: 100%;
  border-radius: 6px;
  margin-bottom: 14px;
  
 }

 /* profile-details */
 .profile-details{
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
 }
.profile-details-left{
  position: sticky;
}
.profile-details-row{
  display: flex;
  align-items: flex-start;
}
.profile-text h3{
  font-weight: 600;
  font-size: 25px;
}
.profile-details-row p{
  font-size: 13px;
}
.profile-details-row  img{
  width: 80px;
  margin-right: 2px;
  border-radius: 6px;
}
.profile-text{
  margin-left: 20px;
}

.profile-details-row div img{
  width: 25px;
  border-radius: 50%;
  margin-top: -26px;

}

.profile-details-right button{
  background: var(--link-text-color);
  border: 0;
  outline: 0;
  padding: 6px 10px;
  display: inline-block;
  align-items: center;
  color: var(--bg-color);
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}
.profile-details-right button img{
  height: 15px;
  margin-right: 10px;

}
.profile-details-right button:first-child{
  background-color: #e4e6eb;
  color: #000;
}
.profile-details-right{
  text-align: right;
}

.profile-details-right a{
  background: #e4e6eb;
  border-radius: 3px;
  padding: 8px ;
  display: inline-flex;
  margin-top: 25px;
}
.profile-details-right a img{
  width: 40px;
}

/* profile-info */
.profile-info{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 20px;
}
.info-col{
  flex-basis: 33%;
  
}
.post-col{
  flex-basis: 65%;

}
.profile-intro{
  background: var(--bg-color);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.profile-intro h3{
  font-weight: 600;
  font-size: 18px;
}


.profile-intro p.intro-text{
  text-align: center;
  margin: 10px 0;
  font-size: 15px;
}
.profile-intro img{
  width: 15px;
  margin-bottom: -3px;
}
.profile-intro hr{
  border: 0;
  height: 1px;
  background: #626262;
  margin: 24px 0;
}

/* profile-intro */
.profile-intro ul.biography{
  padding-left: 0;
}
.profile-intro ul.biography li{
  list-style-type: none;
  font-size: 15px;
  margin: 10px 0;
  display: flex;
  align-items: center;

}
.profile-intro ul.biography li img{
  margin-right: 10px;
}

.title-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-box a{
  color: var(--link-text-color);
  text-decoration: none;
  font-size: 14px;
}
/* title-box */
.title-box{
  font-size: 14px;
}
.photo-box{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin-top: 15px;
  
}
.photo-box div img{
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}
.friends-box div img{
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  padding-bottom: 20px;
}
.friends-box{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin-top: 15px;

}
 .friends-box div{
  position: relative;
}
.friends-box p{
  position: absolute;
  bottom: 0;
  left: 0;
  
} 


















/* responsive */ 
@media only screen and (min-width: 222px) and (max-width: 252px){
  .nav-left ul{
    padding-left: 0;
    margin-left: 10px;
  }
  .logo-small{
    display: block;
    width: 40px;
    height: 40px;
  }
  .logo{
    display: none;
  }
  .story#story img{
    top: 20px;
  }
  #story P{
    display: none;
  }
  .story p{
    bottom: -10px;
  }
  .activity-icons div{
    margin-right: calc(3px - 1px);
  }
  .post-profile-icons {
    display: none;
  }
}
@media only screen and (min-width: 252px) and (max-width: 307px){

  .nav-left ul{
    padding-left: 0;
    margin-left: calc(30px + 10px);
  }
  .nav-left ul li img{
    display: flex;
    margin-left: 10px;
  }
  .logo{
    display: none;
  }
  .logo-small{
    display: block;
    width: 40px;
    height: 40px;
  }

  .settings-menu{
    top: 75px;
  }

  #story P{
    display: none;
  }
  .story#story img{
    top: 30px;
    width: 40px;
  }
  .post-profile-icons {
    display: none;
  }
  .add-post-links img{
    margin-right: calc(4px - 2px);
  }
  .add-post-links a{
    margin-right: calc(15px - 7px)
  }
  .activity-icons div{
    margin-right: calc(4px - 2px);
  }
}


@media  (min-width: 307px){
  .nav-left ul{
    padding-left: 0;
  }
  .nav-left ul li img{
    /* width: 15px; */
    margin: 0 15px;
  }
  .logo{
    width: 110px;
    margin-right: 2px;
  }

  .add-post-links img{
    margin-right: calc(6px - 3px);
  }
  .add-post-links a{
    margin-right: calc(20px - 10px)
  }
  .activity-icons div{
    margin-right: calc(8px - 4px);
  }

}


@media(max-width: 600px){
  .left-sidebar{
    display: none !important;
  }
  .right-sidebar{
    display: none !important;
  }
 nav{
  flex-wrap: wrap;
  flex-basis: 100%!important;
 }
  .search-box{
    display: none;
  }
  .logo{
    width: 110px;
    margin-right: 20px;
  }
  .nav-left ul li img{
    width: 20px;
    margin: 0 5px;
  }
  .nav-user-icon img{
   width: 30px;
  
  }
  .nav-user-icon{
    margin-left: 0px;

  }
  .settings-menu{
    position: absolute;
  }
  .main-content{
    flex-basis: 100%;
  }
  .add-post-links{
    flex-wrap: wrap;
  }
  .story img{
    width: 30px;
    border-width: 3px;
  }
  .story p{
    font-size: 10px;
  }
  .story #story img{
    width: 25px;
  }
  
  .post-input-container{
    padding-left: 0;
    padding-top: 10px;
  }
  .post-container{
    box-shadow: var(--event-box-shadow);
    margin-top: calc(5px + 3px);
  }


  /* --------------------profile-page------------------------- */
  @media only screen and (min-width: 222px) and (max-width: 290px){
    .profile-details{
      flex-wrap: wrap;
    }
    .profile-text{
      margin-left: 8px;
    }
    .profile-details-row div img{
      width: 20px;
    }
    .profile-details-right{
      flex-wrap: wrap;
      position: relative;
    }
    .profile-details-right button{
      margin-top: 5px;
    }
    .profile-details-right  a{
      position: absolute;
      left: 161px;
      top: 21px;
    }
    .photo-box {
      grid-template-columns: repeat(2, auto
      );
    }
    .friends-box {
      grid-template-columns: repeat(2, auto
      );
    }

    
  
    
  }
  
 @media (max-width: 900px) {
  .profile-container{
    padding: 20px 5%;
  }
  .profile-details{
    flex-wrap: wrap;
  }
  .profile-details-right{
    text-align: left;
    margin-top: 15px;
  }
  .profile-details-right button{
    margin-left: 0;
    margin-right: 10px;
  }
  .profile-details-row div h3{
    font-size: 16px;
  }
  .profile-info{
    flex-wrap: wrap;
  }
  .info-col,.post-col{
    flex-basis: 100%;
  }
  .photo-box {
    grid-template-columns: repeat(2, auto
    );
  }
  .friends-box {
    grid-template-columns: repeat(2, auto
    );
  }
 }


 /* ---------------------------fotter------------------------ */
 @media only screen and (min-width: 222px) and (max-width: 300px){
.footer{
  flex-wrap: wrap;
  padding:  20px;
}
.col-left{
  margin: auto;
  margin-bottom: 15px;
}
.col-middle{
  margin: auto;
  margin-bottom: 15px;
}
.col-middle form input{
  width: 100%;
  margin-bottom: 20px;
}
.col-right{
  margin: auto;
  padding-left: 0;
  
}
.col-right p{
  font-size: 14px;
}

.footer-social-icon i{
  width: 15px;
  padding: 4px;
}
.footer hr{
  border: 20;
  height: 1px;
  background: #a83535;
  display: block;
}
}
@media only screen and (min-width: 300px) and (max-width: 600px){
  .footer{
    flex-wrap: wrap;
    padding:  20px;
  }
.col-left{
  display: block;
  width: 100%;
}
.col-middle form input{
  width: 100%;
  margin-bottom: 20px;
}
.col-right{
  display: block;
  width: 100%;
}

}

} 