@import url("../fonts/Nunito/Nunito-VariableFont_wght.ttf");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* my-style */

body{
  background-color: #efefef !important;
}
.nav{
  background-color: #1876f2 !important;
  position: sticky;
  top: 0;
  z-index: 100;
  
}
.logo{
  width: 160px;
  
}
/* .logo-icon{
  width: 50px;
} */
 .nav-left{
 
  align-items: center;
  color: #fff;
}
.nav-left ul{
  display: flex;
}
.nav-left ul li{
  list-style-type: none;
  display: inline-block;
}
.nav-left ul li img{
  width: 23px;
  margin: 0 7px;
  padding-top: 18px;

}
/* right-section */
.nav-right{
  padding-top: 9px;
}
.search-box{
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.search-box img{
  width: 18px;
  cursor: pointer;
  
}
.search-box input{
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}
.search-box :active,.search-box :focus{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  
}
.nav-user-icon img{
width: 40px;
border-radius: 50%;
cursor: pointer;
}
.online-active{
  position: relative;
}
.online-active::after{
  content: '';
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  background: #41db51;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

/* hero-section */
.left-sidebar{
  
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
   
}
.main-content{
  flex-basis: 47%;

}

.imp-links a, .shortcart-links a{
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #626262;
  width: fit-content;
}
.imp-links a img{
  width: 25px;
  margin-right: 15px;
}
.imp-links a:last-child{
  color: #1876f2;
}
.imp-links{
  border-bottom: 1px solid gray;
}

.shortcart-links p{
  color: #626262;
  margin: 25px 0;
  font-weight: 500;
}
.shortcart-links a img{
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
  
}

/* right-sidebar */
.right-sidebar{
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  padding: 20px;
  color: #626262;
  background: #fff;
  border-radius: 4px;
   
}
.sidebar-title{
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.sidebar-title h6{
  font-weight: 600;
  font-size: 16px;
}
.sidebar-title a{
  text-decoration: none;
  color: #1876f2;
  font-size: small;
}

/* event */
.event{
  font-size: 14px;
  margin-bottom: 20px;
}
.left-event{
  border-radius: 10px;
  height: 65px;
  width: 65px;
  padding-top: 10px;
  margin-right: 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.event p{
  font-size: 12px;
}
.event a{
  font-size: 12px;
  text-decoration: none;
  color: #1876f2;
}
.left-event span{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1876f2;
  font-size: 10px;
  padding: 4px 0;
  color: #fff;
}

#img{
  width: 100% !important;
  margin-bottom: 20px !important;
  border-radius: 4px !important;
  

}
.online-active-list{
  align-items: center;
  margin-bottom: 20px;
}
.online-active-list .online-active img{
  width: 30px;
  border-radius: 50%;
}
.online-active-list .online-active{
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.online-active-list .online-active::after{
  top: unset;
  bottom: 5px;
}
.see-all:hover{
  border-bottom: 1px solid #eee;
  transition: 0.3s ease-in;
}



/* main-section */
.story-gallery{
  justify-content: space-between;
  margin-bottom: 20px;
}
.story{
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("../images/profile.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
}

.story#story img{
  top: unset;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  border: 0;
  width: 55px;
}
.story-1{
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("../images/member/member-1.jpg") !important;
}
.story-2{
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("../images/member/member-2.jpg") !important;
}
.story-3{
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("../images/member/member-3.jpg") !important;
}
.story-4{
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url("../images/member/member-4.jpg") !important;
}

#story:hover{
  transform: scale(1.1);
}
.story img{
  position: absolute;
  width: 55px;
  border-radius: 50%;
  top: 2px;
  left: 1px;
  border: 3px solid #1876f2;
  cursor: pointer;
}
.story img:active,
.story img:hover
{
  transform: scale(1.1);
}
.story p{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
}

/* write-post-container */
.write-post-container{
  width: 100%;
  background: #fff !important;
  border-radius: 6px;
  padding: 20px;
  columns: #626262;

}
.user-profile{
  align-items: center;
  display: flex;
}
.user-profile img{
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-profile p{
margin-bottom: -5px;
font-weight: 500;
color: #626262;
}
.user-profile small{
  
  font-size: 12px;
  font-weight: 500;
}

.post-input-container{
  padding-left: 55px;
  padding-top: 15px;
}
.post-input-container textarea{
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #eee;
  resize: none;
}

.add-post-links{
  margin-top: 10px;
}
.add-post-links a{
  text-decoration: none;
  align-items: center;
  color: #626262;
  margin-right: 30px;
  font-size: 13px;
  display: flex;
}
.add-post-links img{
  width: 20px;
  margin-right: 10px;
}

.post-container{
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  -ms-wrap-margin: 20px 0;
}
.user-profile span{
  font-size: 13px;
  color: #626262;
}
.post-text{
  color: #9a9a9a9a;
  margin: 15px 0;
  font-size: 15px;
}
.post-text span{
  color: #626262;
  font-weight: 500;
}
.post-text a{
  color: #1876f2;
  text-decoration: none;
}
.post-img{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}

.post-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-icons div img{
width: 18px;
margin-right: 10px;
}
.activity-icons div{
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}
.post-profile-icons{
  display: flex;
  align-items: flex-end;
}
.post-profile-icons img{
  width: 20px;
  border-radius: 50%;
  
  
}
.post-row a{
  color: #626262;
  font-weight: bold;
}

.main-content{
  overflow: scroll;
}
.right-sidebar{
  overflow: hidden;
  height: 100vh;
}